.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  padding: 20px;
}

.dialogsItems {
}

.dialog .active {
  color: gold;
}

.dialog {
}

.messages {
  
}

.message {
  
}

.message:last-child {
  
}
